# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.egg-info/
dist/
build/
logs/

# Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/
*.mlmodelc
*.mlpackage

# Misc
.DS_Store

!SafeChatAIApp/vocab.txt 
